In [2]:
import pandas as pd

# NBER.org Mortality data per year per month

In [ ]:
# Data was downloaded from https://www.nber.org/data/vital-statistics-mortality-data-multiple-cause-of-death.html
# Downloaded files are not included because of the size of the individual files.

In [51]:
# Read individual CSV files and create a list of dataframes.

#setting filepath
filepath = "Data/NBER_HF_Data/"
HD_Deaths = []

for yr in range (2000, 2018):
    filename = "mort"+ str(yr) +".csv"
    
    #read csv file for each year
    df = pd.read_csv(filepath + filename, usecols=['year','monthdth', 'ucod'])
    
    #filter rows with ICD10 code = 'I50.*' (Heart failure)
    hf_df = df.loc[ df['ucod'].str.startswith('I50', na=False)]
    
    #Group by Year and month of death
    hf_grp_by_yr = hf_df.groupby(['year','monthdth'])
    
    #Count the number of deaths per month & year
    hf_deaths = hf_grp_by_yr['ucod'].count()
    hf_deaths = hf_deaths.reset_index()
    
    print (hf_deaths)
    
    print ("Type is ", type(hf_deaths))

    
    #Append to the list
    HD_Deaths.append(hf_deaths)

    year  monthdth  ucod
0   2000         1  6118
1   2000         2  4834
2   2000         3  4666
3   2000         4  4325
4   2000         5  4329
5   2000         6  4276
6   2000         7  4410
7   2000         8  4371
8   2000         9  4078
9   2000        10  4497
10  2000        11  4668
11  2000        12  5153
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2001         1  5431
1   2001         2  4781
2   2001         3  5282
3   2001         4  4923
4   2001         5  4673
5   2001         6  4566
6   2001         7  4445
7   2001         8  4451
8   2001         9  4295
9   2001        10  4636
10  2001        11  4618
11  2001        12  4862
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2002         1  5483
1   2002         2  5168
2   2002         3  5485
3   2002         4  4540
4   2002         5  4466
5   2002         6  4396
6   2002         7  4294
7   2002         8  4214
8   2002         9  4196
9   2002        10  4434
10  2002        11  4685
11  2002        12  5148
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2003         1  5241
1   2003         2  4779
2   2003         3  5094
3   2003         4  4665
4   2003         5  4625
5   2003         6  4623
6   2003         7  4549
7   2003         8  4469
8   2003         9  4293
9   2003        10  4594
10  2003        11  4532
11  2003        12  6009
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2004         1  5640
1   2004         2  4882
2   2004         3  5046
3   2004         4  4709
4   2004         5  4588
5   2004         6  4423
6   2004         7  4532
7   2004         8  4535
8   2004         9  4208
9   2004        10  4748
10  2004        11  4641
11  2004        12  5202
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2005         1  5676
1   2005         2  5418
2   2005         3  5824
3   2005         4  5046
4   2005         5  4889
5   2005         6  4506
6   2005         7  4397
7   2005         8  4252
8   2005         9  4336
9   2005        10  4580
10  2005        11  4681
11  2005        12  5357
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2006         1  5593
1   2006         2  5218
2   2006         3  5863
3   2006         4  5230
4   2006         5  5023
5   2006         6  4690
6   2006         7  4603
7   2006         8  4491
8   2006         9  4540
9   2006        10  4844
10  2006        11  4793
11  2006        12  5491
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2007         1  5342
1   2007         2  4853
2   2007         3  5275
3   2007         4  4922
4   2007         5  4663
5   2007         6  4309
6   2007         7  4345
7   2007         8  4275
8   2007         9  4284
9   2007        10  4593
10  2007        11  4582
11  2007        12  5154
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2008         1  5328
1   2008         2  5248
2   2008         3  5614
3   2008         4  4853
4   2008         5  4565
5   2008         6  4338
6   2008         7  4483
7   2008         8  4190
8   2008         9  4181
9   2008        10  4554
10  2008        11  4492
11  2008        12  5014
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2009         1  5165
1   2009         2  4738
2   2009         3  5255
3   2009         4  4786
4   2009         5  4650
5   2009         6  4401
6   2009         7  4354
7   2009         8  4346
8   2009         9  4374
9   2009        10  4616
10  2009        11  4529
11  2009        12  5221
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2010         1  5303
1   2010         2  4817
2   2010         3  5483
3   2010         4  4784
4   2010         5  4760
5   2010         6  4511
6   2010         7  4517
7   2010         8  4541
8   2010         9  4319
9   2010        10  4802
10  2010        11  4705
11  2010        12  5236
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2011         1  5449
1   2011         2  5007
2   2011         3  5495
3   2011         4  5009
4   2011         5  4882
5   2011         6  4561
6   2011         7  4497
7   2011         8  4520
8   2011         9  4298
9   2011        10  4688
10  2011        11  4665
11  2011        12  5270
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2012         1  5370
1   2012         2  5088
2   2012         3  5361
3   2012         4  5056
4   2012         5  4952
5   2012         6  4571
6   2012         7  4704
7   2012         8  4755
8   2012         9  4557
9   2012        10  4993
10  2012        11  5051
11  2012        12  5902
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2013         1  6651
1   2013         2  5663
2   2013         3  5982
3   2013         4  5410
4   2013         5  5221
5   2013         6  4980
6   2013         7  5033
7   2013         8  4990
8   2013         9  4863
9   2013        10  5219
10  2013        11  5254
11  2013        12  5894
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2014         1  6226
1   2014         2  5351
2   2014         3  6067
3   2014         4  5672
4   2014         5  5807
5   2014         6  5340
6   2014         7  5397
7   2014         8  5301
8   2014         9  5430
9   2014        10  5687
10  2014        11  5713
11  2014        12  6671
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2015         1  7422
1   2015         2  6416
2   2015         3  6916
3   2015         4  6352
4   2015         5  6255
5   2015         6  5830
6   2015         7  5949
7   2015         8  5727
8   2015         9  5741
9   2015        10  6108
10  2015        11  6069
11  2015        12  6525
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2016         1  7056
1   2016         2  6502
2   2016         3  7240
3   2016         4  6701
4   2016         5  6402
5   2016         6  6060
6   2016         7  6111
7   2016         8  6153
8   2016         9  5920
9   2016        10  6483
10  2016        11  6469
11  2016        12  7306
Type is  <class 'pandas.core.frame.DataFrame'>
    year  monthdth  ucod
0   2017         1  7826
1   2017         2  6973
2   2017         3  7270
3   2017         4  6753
4   2017         5  6575
5   2017         6  6245
6   2017         7  6248
7   2017         8  6082
8   2017         9  6072
9   2017        10  6525
10  2017        11  6492
11  2017        12  7486
Type is  <class 'pandas.core.frame.DataFrame'>

In [63]:

#Convert list of Dataframes to a single dataframe
Combined_Df = pd.concat(HD_Deaths)

#create a date colummn with month and Year
Combined_Df['date'] = '1/'+ Combined_Df['monthdth'].astype(str) + '/' + Combined_Df['year'].astype(str)
Combined_Df.head()

   year  monthdth  ucod      date
0  2000         1  6118  1/1/2000
1  2000         2  4834  1/2/2000
2  2000         3  4666  1/3/2000
3  2000         4  4325  1/4/2000
4  2000         5  4329  1/5/2000

In [64]:
#write to csv file
Combined_Df.to_csv('Data/Combined_HF_2000_2017.csv', index=False)